* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  width: (($cell-size + $cell-margin) * 7) + ($cell-size /2);

  //Стилизую напрямую по условиям задачи (не изменять HTML)
  div {
    @include one-cell;
    transition: $transition-speed;
  }

  div:hover {
    transform: translate(0 , -20px);
    background-color: pink;
  }
}

@for $i from 28 through 31 {
  .calendar-#{$i} {
    @for $j from 1 through $i {
      & :nth-child(#{$j})::after {
        content: "#{$j}";
      }
    }
  }
}

@each $day, $indent in $days {
  .calendar-#{$day} div:first-child {
    margin-left: ($cell-size + $cell-margin)  * $indent;
  }
}
