$cell-size: 100px;
$cell-background: #eee;
$cell-margin: 1px;
$transition-speed: 0.5s;

$date-font-family: "Arial", sans-serif;
$date-font-size: 30px;

$days: ("tue": 1, "wed": 2, "thu": 3, "fri": 4, "sat": 5, "sun": 6);
